.detailpopin(data-title=title)
  .title
  .close ×
  = title
  .support
    .header
      img(src='img/icon_support.png')
      h4 OÙ
    p= support
  .access
    .header
      img(src='img/icon_access.png')
      h4 COMMENT Y ACCÉDER
    p= access
    p
      i= supportExampleWLinks
  .accesseasiness
    h4 FACILITÉ D'ACCÈS
      img(src='img/accesseasiness_" + info.accessEasiness + ".png')
