.listpopin(data-title=title, style="border: solid 2px rgb(" + color.r + ", " + color.g + ", " + color.b + "); left:" + position.left + ";top:" + position.top + ";")
  .header(style="background-color: rgb(" + color.r + ", " + color.g + ", " + color.b + ");")
    img.icon(src=headerIconPath)
    h3= title
    .close ×
  .list
    ul
      each data in infos
        li
          span= data.title

