@font-face {
  font-family: gothamrnd;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GothamRnd-Light.otf") format("opentype");
}
@font-face {
  font-family: gothamrnd;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/GothamRnd-Bold.otf") format("opentype");
}

@font-face {
  font-family: gothamrnd;
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/GothamRnd-LightIta.otf") format("opentype");
}


h1 {
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 54px;
  color: #9D9D9D;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 5px;
}

h2 {
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px auto 80px;
  max-width: 760px;
}

h3.defis {
  color: #9D9D9D;
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-decoration: italic;
  margin-left: 40px;
}

#container {
  /* width and height overriden by css. */
  width: 1024px;
  height: 600px;
  position: absolute;
}

#workarea {
  position: absolute;
  height: 100%;
  left: 0px;
}

#zoom {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mapbg {
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  z-index: 1000;
}

.mapelem {
  position: absolute;
}

#Center {
  opacity: 1 !important;
  
      -webkit-filter: none !important;
       -moz-filter: none !important;
         -o-filter: none !important;
        -ms-filter: none !important;
            filter: none !important;
}

#opendatagl {
  width: 100px;
  bottom: 10%;
  left: 3%;
  
}
img.grayed {
  opacity: 0.6;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.provider {
  position: absolute;
  z-index: 1010;
  height:  2%;
  margin-top:  -1%;
  margin-left:   -1%;
}

.layer {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+      */
}

#buttons {
  /*! position: absolute; */
  /*! top: 0px; */
  /*! height: 50px; */
  width: 100%;
  text-align: center;
}

#buttons img {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  z-index: 2000;

  cursor: pointer;
}

.defi {
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  opacity: 0.5;
  padding:  10px;
  cursor:   pointer;
}
  
#zoomcontrols {
  position: absolute;
  height: 60px;
  width: 30px;
  right: 15px;
  bottom: 15%;
}

#zoomcontrols img {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 2000;
  cursor: pointer;

}

#legend {
  position: absolute;
  right: 20px;
  padding: 20px;
  height: 80%;
  overflow: auto;
  border: solid 10px rgba(150, 150, 150, 0.3);
  margin-top: 10px;
}
  
@media ( min-width: 1150px) {
  #legend {
    width: 300px;
  }
  #workarea {
    right: 380px;
  }
}
@media (max-width: 1150px) {
  #legend {
    top: 100%;
    width: 80%;
    height: auto;
    right: 50%;
    margin-right: -43%;
    margin-top: 300px;
  }

  #workarea {
    right: 0px;
  }
}

#legend h3 {
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0px;
  cursor: pointer;

}

#legend p {
  /*font-family: gothamrndlightita ;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
  margin-top: 0px;
  cursor: pointer;

}

#credits {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 3%;
}

#credits #creditsbam {
  height: 60%;
  margin-bottom: 6px;
}

#credits #creditscc {
  height: 80%;
  margin: 5px;
}

#credits #creditsfing {
  height: 100%;
}

#credits #print {
  height: 80%;
}
/* Popins */

.listpopin .close, .detailpopin .close {
  position: absolute;
  right: 5px;
  top: 3px;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  width: 13px;
}

.detailpopin, .listpopin {
  position: absolute !important;
  top: 20%;
  left: 45%;
  background: white;
  z-index: 2000;
}

.listpopin {
  width: 250px;

}
.detailpopin {
  width: 270px;  
}

.listpopin .header {
  height: 60px;
  width: 100%;
  color: white;
  background: rgb(35, 189, 182) none repeat scroll 0% 0%;  
}

.listpopin .header h3 {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: #FFF;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  width: 185px
}

.listpopin .header .icon {
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  margin: 13px 0px 13px 13px;
}

.listpopin .list {
  overflow: auto;
  max-height: 220px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;

  /*border*/: solid 3px rgb(35, 189, 182);
}

.listpopin .list li {
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 10px;
}
.listpopin .list li span {
  cursor: pointer;
}

.listpopin .list .referentiallink {
  height: 20px;
  float: right; 
  cursor: pointer;
}

.listpopin h4 {
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 15px;
}

.listpopin ul {
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.detailpopin {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 180px;
  background: white;
  z-index: 1000;

  border: 1px solid rgb(157, 157, 157);
  
}

.detailpopin .title {
  background-color: #FFCA00;
  color: white;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  padding: 12px;
  font-size: 12px;

}

.detailpopin .header {
  position: relative;
}



.detailpopin h4 {
  background-color: #F6F6F6;
  color: #9D9D9D;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  padding-left: 17px;
}

.detailpopin .header img {
  position: absolute;
  top: -2px;
  left: 5px;
  width: 24px;
}

.detailpopin p {
  /*font-family: gothamrndlight;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin: 12px;
}

.detailpopin p a {
  color: #666;
}

.detailpopin .accesseasiness {
  background-color: #F6F6F6;
  color: white;
  /*font-family: gothamrndbold;*/
  font-family: gothamrnd, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;  
  text-align: center;
}

.detailpopin .accesseasiness h4 {
  margin-bottom: 0px;
}

.detailpopin .accesseasiness img {
  height: 25px;
}

@media print {
  html, body {
    width: 750px;
    margin: 0;
    padding: 0;
    background: #FFF; 
  }
}